# PHP
01-PHP/vendor/
01-PHP/composer.lock

# ASP.NET Core
02-ASPNET-Core/bin/
02-ASPNET-Core/obj/

# ASP.NET Core lib (template defaults, using CDN instead)
02-ASPNET-Core/wwwroot/lib/

# OS
Thumbs.db
.DS_Store
